@import './assets/css/custom.scss';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

#dashboard{  
  display: flex;
  width: 100vw;

  @media screen and ($desktopWidth){
    &{      
      height: 100vh;
    }
  }
}